html {
  box-sizing: border-box;
    margin-top:0;
    padding-top:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}


h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 113%;
}
h4 {
    font-size: 100%;
}
h5 {
    font-size: 82%;
}
h6 {
    font-size: 63%;
}

a {
	/* Typography Declrations */
	font-weight: bold;
	text-decoration: none;
	color: #FFCF33;
}

a:link, a:active {
  text-decoration: none;
/*  color: #ff9900;*/
  color: #ffcf33;
}

a:hover {
  text-decoration: underline;
	color: #FFE799;
}

a:visited {
	/* Typography Declarations */
  text-decoration: none;
	color: #D1A000;
}


body {
/*	background-color: #dddddd; */
	font-family: 'Roboto', sans-serif;
	color: #838994;
	letter-spacing: 0.03em;
    margin-top:0;
    padding-top:0;
}

nav, section {
    display: block;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width:100%;
    border-bottom: 1px solid #000000;
    z-index: 9999;
}

.top-navigation > .content {
    height: 4.375rem;
}

@media (min-width: 48rem) {
    .content {
        width: 46rem;
    }
}

@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}


@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}

.content {
	padding: 0 0.938rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.top-navigation .logo {
    height: 70px;
}
.top-navigation .links {
    float: right;
	font-family: 'Roboto', sans-serif;
    color: #838994;
    margin-top: 25px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}


.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links > .active {
  transition: color 0.5s ease;
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links > .active:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.introduction {
    height: 45.938rem;
    background-size: cover;
    background: url("../images/first-background.jpg") no-repeat center bottom;
    overflow: auto;
}

/*
.introduction > .content {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin-top: 100px;
}
*/
.introduction h1 {
    font-size: 50px;
    margin-top: 260px;
}

.introduction h1, .introduction h3 {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.introduction h3 {
    margin-top: 20px;
    font-size: 25px;
}

button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 18px;
    color: #ffffff;
    width: 155px;
    background-color: #f15a29;
    display: block;
    margin: 0 auto;

}

button:hover {
    background: #d9400e;
    color: #ffffff;
    cursor: pointer;
}

.cases .content {
    margin-top: 125px;
    text-align: center;
}
/*
.cases .test1 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
*/
.cases h2 {
    font-size: 44px;
    font-weight: 300;
    margin: 26px 0 50px;
}

.cases .devices h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 40px 0 30px;
}

.cases .devices {
    width: 33.3333%;
    float: left;
    /*border: 1px solid black;*/
    /*box-sizing: border-box;*/
    /*height: 4em;*/

}

.case_icons {
    height: 265px;
}

.social {
    text-align: center;
}

.social .content h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0 30px;
}

.social ul {
    padding: 0px;
}

.social .icons > li {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 20px 5px;
    padding: 10px 0;
    border: 1px solid #eaebec;
}

.social .twitter {
    color: dodgerblue;
}

.social .facebook {
    color: #4c6694;
}

.social .instagram {
    color: #3f729b;
}

.social .twitter:hover, .social .facebook:hover, .social .instagram:hover {
    cursor: pointer;
}

