a {
	/* Typography Declrations */
	font-weight: bold;
	text-decoration: none;
	color: #FFCF33;
}

a:link, a:active {
  text-decoration: none;
/*  color: #ff9900;*/
  color: #ffcf33;
}

a:hover {
  text-decoration: underline;
	color: #FFE799;
}

a:visited {
	/* Typography Declarations */
  text-decoration: none;
	color: #D1A000;
}

@media screen and (max-width: 500px) {
  .masthead {
    padding:  3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
}

.bold {
	font-weight: 600;
}


html {
	width: 866px;
}
body {
/*	background-color: #dddddd; */
	font-size: 16px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

div {
/*	border: 1px solid Chocolate; */
}

header {
/*	border: 1px solid Chocolate; */
	height: 60px;
}

.main_nav {
/*	border: 1px solid red; */
	border-bottom: 1px solid #cccccc;
	width: 80%;
	height: 60px;
	margin: 0 auto;
	position: relative;

}

.logo {
	float: left;
	margin-top: 15px;  
	margin-left: 100px;
	margin-right: 30px;
}

.logo img {
	width:30px;
	height: 30px;
}

.nav_side {
	font-size: .75em;
	color: #444444;
	font-weight: 300;
	float: right;
}

.nav_links > li {
	display: inline-block;
	margin: 7px;
}

