html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 113%;
}
h4 {
    font-size: 100%;
}
h5 {
    font-size: 82%;
}
h6 {
    font-size: 63%;
}

a {
	/* Typography Declrations */
	font-weight: bold;
	text-decoration: none;
	color: #FFCF33;
}

a:link, a:active {
  text-decoration: none;
/*  color: #ff9900;*/
  color: #ffcf33;
}

a:hover {
  text-decoration: underline;
	color: #FFE799;
}

a:visited {
	/* Typography Declarations */
  text-decoration: none;
	color: #D1A000;
}


body {
/*	background-color: #dddddd; */
	font-family: 'Roboto', sans-serif;
	color: #838994;
	letter-spacing: 0.03em;
}

nav, section {
    display: block;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
/*    position: fixed; */
    width:100%;
}

.top-navigation > .content {
    height: 4.375rem;
}

@media (min-width: 48rem) {
    .content {
        width: 46rem;
    }
}

@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}


@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}

.content {
	padding: 0 0.938rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.top-navigation .logo {
    height: 70px;
}
.top-navigation .links {
    float: right;
	font-family: 'Roboto', sans-serif;
    color: #838994;
    margin-top: 25px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}


.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links > .active {
  transition: color 0.5s ease;
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links > .active:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.introduction {
    height: 45.938rem;
    background-size: cover;
    background: url("../images/first-background.jpg") no-repeat center bottom;
    overflow: auto;
}

/*
.introduction > .content {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin-top: 100px;
}
*/
.introduction h1 {
    font-size: 50px;
    margin-top: 260px;
}

.introduction h1, .introduction h3 {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.introduction h3 {
    margin-top: 20px;
    font-size: 25px;
}

button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 18px;
    color: #ffffff;
    width: 155px;
    background-color: #f15a29;
    display: block;
    margin: 0 auto;

}

button:hover {
    background: #d9400e;
    color: #ffffff;
    cursor: pointer;
}



 /*
    .button {
        border-top: 1px solid #96d1f8;
        background: #d7743a;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #d7743a, #d7743a);
        background: -moz-linear-gradient(top, #3e779d, #65a9d7);
        background: -ms-linear-gradient(top, #3e779d, #65a9d7);
        background: -o-linear-gradient(top, #3e779d, #65a9d7);
        padding: 13px 27px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: white;
        font-size: 21px;
        font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        vertical-align: middle;
    }
    .button:hover {
        border-top-color: #28597a;
        background: #28597a;
        color: #ccc;
    }
    .button:active {
        border-top-color: #ffffff;
        background: #1b435e;
    }

*/
